<a href="https://colab.research.google.com/github/rohakbora/Machine-Learning-Practice/blob/main/W1GA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd
import numpy as np

In [87]:
csv = pd.read_csv("Week1_GA_dataset (1).csv")
csv.shape

(10000, 12)

In [88]:
csv.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [89]:
count = (csv == "?").sum().sum()
count

1823

In [90]:
csv.replace("?", np.nan, inplace=True)
csv.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

In [91]:
csv.iloc[692,0]

'2009-11-16'

In [92]:
csv.iloc[546,7]

3

In [93]:
csv["Locality"].unique().tolist()

['Waterbury',
 'Bridgeport',
 'Greenwich',
 'Norwalk',
 nan,
 'Fairfield',
 'West Hartford',
 'Stamford']

In [94]:
missing_columns = csv.columns[csv.isna().any()]
missing_columns.tolist()

['Locality', 'Estimated Value', 'Property', 'carpet_area']

In [95]:
clean_csv=(csv.isna().sum(axis = 1) <= 2).tolist()
csv123=csv[clean_csv]
csv123.shape

(9917, 12)

In [97]:
no_nan = csv.dropna()
no_nan.shape

(5449, 12)

**Week 1 Graded Assignment 1.2**

In [98]:
csv = pd.read_csv("Week1_GA_dataset (1).csv")
csv.shape

(10000, 12)

In [103]:
even_indexed_rows = csv.iloc[::2]
value = even_indexed_rows.iloc[0, 3]
value

111440.0

In [104]:
even_indexed_rows.iloc[332,3]

256200.0

In [105]:
odd_index_rows = csv.iloc[1::2]
odd_index_rows.iloc[332,3]

352940.0

In [109]:
odd_index_col = csv.iloc[:,1::2]
odd_index_col.iloc[100,5]

'West'

In [110]:
even_ind_rowcol = csv.iloc[::2,::2]
even_ind_rowcol.iloc[255,3]

'Detached House'

In [115]:
csv[csv["Year"] >= (csv["Year"].max() - 5)].shape

(4749, 12)

In [124]:
csv[(csv["num_rooms"] == 3) & (csv["num_bathrooms"] ==3)].shape

(2730, 12)

In [123]:
csv[(csv["num_rooms"] == 3) | (csv["num_bathrooms"] ==3)].shape

(8591, 12)

In [125]:
csv[(csv["Year"] == 2022) & (csv["Locality"] == "Greenwich") & (csv["num_rooms"] == 3) & ((csv["Face"] == "North") | (csv["Face"] == "East"))].shape

(42, 12)

In [135]:
def aug(csv):
  dt = csv["Date"].split("-")
  if(dt[1] == "08"):
    return True
  else:
    return False

csv1 = csv.apply(aug, axis=1)
csv1.sum()

1050

In [143]:
loc = csv.groupby("Locality")["Sale Price"].mean()
loc

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64